<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633189804723-ua8f4krci0c9dstojl7jhck5nl408ck9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633189804723-ua8f4krci0c9dstojl7jhck5nl408ck9</string>
	<key>API_KEY</key>
	<string>AIzaSyCOHDo79sTskUvsVTDXJXIk-_DD6g3otAg</string>
	<key>GCM_SENDER_ID</key>
	<string>633189804723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.optional.moviechecker</string>
	<key>PROJECT_ID</key>
	<string>moviechecker-f4670</string>
	<key>STORAGE_BUCKET</key>
	<string>moviechecker-f4670.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633189804723:ios:31213ec0d377b5e8c31ec6</string>
	<key>DATABASE_URL</key>
	<string>https://moviechecker-f4670.firebaseio.com</string>
</dict>
</plist>